<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method="post" th:object="${product}">
    Product Name:
    <input type="text" th:field="*{name}" placeholder="enter product's name">
    <br>
    Price:
    <input type="number" th:field="*{price}" placeholder="enter product's price">
    <br>
    Category:
    <select th:field="*{category}">
        <th:block th:each="cate:${listCategory}">
            <option th:value="${cate.id}" th:text="${cate.name}"></option>
        </th:block>
    </select>
    <br>
    <input type="submit" value="Create">
</form>

</body>
</html>